<h1 style="color: blue;">Ingrese datos</h1>
    <form action="/datos" method="post">
        <div class="form-group">
          <label for="inputNombre"><b><i>Nombre</i></b></label>
          <input type="text" class="form-control" name="nombre" />
        </div>
        <div class="form-group">
          <label for="inputApellido"><b><i>Apellido</i></b></label>
          <input type="text" class="form-control" name="apellido"/>
        </div>
        <div class="form-group">
            <label for="inputEdad"><b><i>Edad</i></b></label>
          <input type="text" class="form-control" name="edad"/>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
      </form>