<link rel="stylesheet" href="css/styles.css">

<h1 class="alert alert-success">
    Welcome {{nombre}}!
    <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Sign out</button>
</h1>